@import 'https://fonts.googleapis.com/css?family=Lato';
html {
  height: 100%;
}
body {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #3d3d3d;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #efefef;
}
table {
  border-collapse: collapse;
  margin-bottom: 30px;
  padding: 0;
  background-color: #fff;
  font-size: 1rem;
}
th {
  text-align: left;
}
th,
td {
  border: 1px solid #dfdfdf;
  padding: 4px;
}
@media screen and (max-width: 600px) {
  .responsive-table {
    border: 0;
  }
  .responsive-table thead {
    display: none;
  }
  .responsive-table tbody {
    background-color: #efefef;
  }
  .responsive-table th,
  .responsive-table td {
    padding: 0.5rem;
    background-color: #fff;
  }
  .responsive-table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 2rem;
  }
  .responsive-table tr:last-of-type {
    margin-bottom: initial;
  }
  .responsive-table td {
    display: block;
    border-bottom: none;
    text-align: right;
  }
  .responsive-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
